extends sign_layout

block content
	style.
		img#top_bg {
			position: absolute;
			left: 0px;
			top: 0px;
			height: 26px;
			width: -webkit-fill-available;
		}
		img#selbg {
			position: absolute;
			left: 7.2%;
			top: 2px;
			height: 20px;
			width: 27%;
		}
		img#tribg {
			position: absolute;
			left: 27.2%;
			top: 2px;
			width: 7%;
			height: 20px;
		}
		img#tri {
			position: absolute;
			top: 3px;
			scale: 0.5;
			left: 30.7%;
		}
		img#infobg {
			position: absolute;
			left: 37%;
			top: 2px;
			width: 51%;
			height: 20px;
		}

		p#servertxt {
			position: absolute;
			left: 8%;
			top: -5px;
			font-size: 11px;
		}

		p#infotxt {
			position: absolute;
			left: 37%;
			top: -4px;
			font-size: 10px;
		}

	//- 26px
	//- img(src='http://devrtommy.nat100.top/images/uis/tittle02_half.png', alt='')
	- url_base = "http://devrtommy.nat100.top/images"

	#main_bg.bg_body
	#top_div.top_body
		img#top_bg(src='#{url_base}/uis/tittle02_half.png', alt='')
		img#selbg(src='#{url_base}/uis/menu_back.png', alt='')
		img#tribg(src='#{url_base}/uis/button_blu.png', alt='')
		img#tri(src='#{url_base}/uis/triangle.png', alt='')
		img#infobg(src='#{url_base}/uis/menu_back.png', alt='')
		p#servertxt S12
		p#infotxt "ID: 123456 角色等级 12"
	script.
		var tw = document.body.clientWidth;
		console.log('tw here is',tw);
